# ==========================================
# 1. Executables & Build Output (Գործարկվող ֆայլեր)
# ==========================================
*.out
*.exe
*.app
bin/
build/
cmake-build-debug/
cmake-build-release/

# ==========================================
# 2. Relocatable & Compiled Objects (Օբյեկտային ֆայլեր)
# ==========================================
*.o
*.obj
*.a
*.so
*.dylib
*.dll

# Debug symbol-ներ (macOS / Clion / GCC)
*.dSYM/

# ==========================================
# 3. File I/O & Test Files (Ֆայլային աշխատանքների ֆայլեր)
# ==========================================
*.txt
*.dat
*.bin
*.csv
*.log
*.in

# ==========================================
# 4. IDEs & OS Specific (IDE-ների և համակարգային ֆայլեր)
# ==========================================
.DS_Store
.idea/
.vscode/